ul#menu li.f {
	float: left;
	overflow: auto;
	background-color: white;
	color: #3b3330;
}

ul#menu li.f a,
ul#menu ul li.s.current {
	padding: 6px 10px;
	color: #3b3330;
	text-decoration: none;
	display: block;
	float: left;
}

ul#menu  li.f a:hover {
	background-color: #fff654;
}

ul#menu ul,
ul#menu ul ul {
	overflow: auto;
	float: left;
	
	
}

ul#menu li ul li,
ul#menu li ul li ul {
	background-color: white;
	float: left;
	display: inline;
	display: none;	
	
	}
	

ul#menu li ul li ul li{
	
	background-color: #faffee;
}

	
ul#menu ul li.current {
	background-color: #feff7f;
	display: none;
}	
	
ul#menu ul li a:hover {
	background-color: #fff654;
	padding: 6px 10px;
}

div#menu_bar {
	
	overflow:visible;
	
}
