
ul#menu li {
	margin-right: 0.2em;
	float: left;
	text-align: right;

}


ul#menu li a,
ul#menu ul li.current {
	width: 130px;
	height: 40px;
	color: #000;
	text-decoration: none;
	background-color: #f7f700;
	padding-top: 0.8em;
	padding-right: 8px;
	display: block;

}

ul#menu li a:hover {
	background-color: #f6ec00;
	height: 33px;
	border-bottom: 10px solid #000;
}



div#content.articulo,
div#content.foto {
	overflow: hidden;
}
#content form.form {
	overflow: visible;
}
