<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rosariopenya/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rosariopenya/index.php [L]
</IfModule>

# BEGIN WordPress

# END WordPress
